*{
  margin: 0px;
  padding: 0px;
}
.tex-dec-none {
  text-decoration: None;
  color: black;
}

/* non login home */


/* 
.navbar {
  background-color: #9400FF;

}

.navbar-logo {
  color: #E4F1FF;
  font-weight: bold;
}

.nav-item a {
  color: #E4F1FF;
  font-weight: bold;

} */

.main-content {
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}



.main-heading p {
  margin: 0vh 2vw;
  font-size: 43px;
  font-weight: 700;
  color: #E4F1FF;
}

.main-paragraph p {
  margin: 2vh 4vw;
  font-size: 20px;
  color: #E4F1FF;

}

.points ul {
  height: 50vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.points li {
  list-style-type: none;
  margin-left: 20px;
}



/* navbar */
.navbar-custom {
  width: 100vw;
}
.navbar-custom {
  background-color: #9400FF;
}

.nav-text-color {
  color: #E4F1FF;
  font-weight: bold;
}




/* home */
body {
  /* background-color: #E4F1FF; */

}
.home{
  margin-left: 2vw ;
}
.home-heading p{
  font-size: 31px;
  font-weight: bold;
  color: #27005D;

  margin-bottom: 25px;
}

.home-smalldetail {
  /* margin: 2vh;
  width: 100vw;
  padding: 2vh 9vw 2vh 9vw;
  max-height: 40vh;
   background-color: #E4F1FF; 
  display: flex;
  flex-direction: row;
  justify-content: space-around; */

  width: 80vw;
  margin: 6vh 9vw 6vh 9vw;
  /* max-height: 40vh; */
  background-color: #9400FF;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 23px;
}

.home-smalldetail .home-image {
  width: 40vw;
  /* background-color: beige; */
}

.home-smalldetail .home-text {
  display: flex;
  width: 35vw;
  margin: 2vh 3vw -18vh 0vw;
  align-items: center;
  justify-content: center;

}

.home-smalldetail .home-text p {
  font-size: 2vw;
  height: 32vh;
  padding: 3vh 4vw 3vh 5vw;
  background-color: white;

}

.home-smalldetail .home-image img {
  width: 20em;

  /* max-height: 30vh; */
  margin-left: 5vw;
}

/* .home {
  margin: 5vh 2vw 2vh 5vw;
} */

.card {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px ;
  margin-right: 20px ;
  background-color: #9400FF;
  width: 500px;
}

.card .card-image img {
  width: 280px;
  height: 149px;
}

.heading p {
  padding: 9px 9px;
  font-size: 20px;
  font-weight: bold;
  color: #E4F1FF;
}

.card .discrption p {
  padding: 0px 5px;
  margin-top: 0;
  font-size: 15px;
  margin-bottom: 1rem;
  color: #E4F1FF;

}


.home .ongoing {
  margin: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  /* padding: 20px;    */
  border-radius: 0px;
}

.aval {
  margin: 1vw;
  /* background-color: blue; */
}

/* lecture.html */
/* .card{
    
} */
/* 


.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 85vh;
  height: 0;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */

.learner {
  display: flex;
  flex-direction: row;
}

.learner .sidebar {
  display: flex;
  flex-direction: column;
  width: 14vw;
}

.sidebar-child{
  width: 14vw;
}

.topics-learner{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.change a{
  color: black;
  text-decoration: none;
}

/* learner  change 2 code  */




.learn-main {
  display: flex;
}

.learn-main .side-bar {
  width: 30vw;
  margin: 20px 5px;
  /* width: 23vw; */
  /* box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16); */
  display: block;
  box-shadow: 6px 3px 6px rgba(148, 0, 250, 2.16);

}

.learn-main .side-bar .side-bar-child {
  font-size: 17px;
  padding: 0px;
}

.side-bar-child{
  display: flex;
}
.side-bar-child .child1 {
  margin: 0px 20px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg height='8.4666mm' style='shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd' version='1.1' viewBox='0 0 847 847' width='8.4666mm' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cstyle type='text/css'%3E%3C!%5BCDATA%5B .str0 %7Bstroke:%23FFF7F7;stroke-width:42.33;stroke-linejoin:round%7D .fil0 %7Bfill:%233B77F7%7D .fil1 %7Bfill:%23FFF7F7%7D %5D%5D%3E%3C/style%3E%3C/defs%3E%3Cg id='Layer_x0020_1'%3E%3Ccircle class='fil0' cx='423' cy='423' r='398'/%3E%3Cpolygon class='fil1 str0' points='642,423 467,322 292,221 292,423 292,625 467,524 '/%3E%3C/g%3E%3C/svg%3E");
  height: 32px;
  width: 32px;
  background-repeat:no-repeat;
}
.side-bar-child .child2{
 
    justify-content: center;
    width: 19vw;
    margin: auto;

}

.video {
  width: 72vw;
  height: auto;
  display: flex;
  flex-direction: column;
}





.iframe-container{
  margin: 5px auto;
}


.heading-topic{
  margin: 20px auto 5px auto;
}

.video iframe {
  margin: 20px auto;
  width: 65vw;
  height: 60vh;

}

.learn-sidebar-show {
  height: 24px;
  /* display: block; */
}

.learn-sidebar-show button {
  
  position: absolute;
  top: 82px;
  width: 27px;
  height: 35px;
  border-left: 0;
  margin-left: -1px;
  background-color: #9400ff;
  border-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
}

.learn-sidebar-show .arrow {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3Csvg style='enable-background:new 0 0 50 50;' version='1.1' viewBox='0 0 50 50' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Layer_1'%3E%3Cpath d='M26,26.414l23,23V0.586l-23,23v-23L1.586,25L26,49.414V26.414z M47,5.414v39.172L27.414,25L47,5.414z M24,44.586L4.414,25 L24,5.414V44.586z'/%3E%3C/g%3E%3Cg/%3E%3C/svg%3E");
  height: 21px;
  margin-left: -7px;
  width: 21px;
  background-repeat: no-repeat;
}

/* 

@media only screen and (max-width:790px) {
  .learner {
    display: flex;
    flex-direction: column;
  }
  
  .video-play {
    width: 100vw;
  }
  
  .learner .sidebar {
    width: 80vw;
    margin: 2vh 10vw;
    border: 1px solid black;
    border-radius: 12px;
  }
  
  .sidebar .dash {
    border-bottom: 1px solid black;
    background-color: #AED2FF;
    padding: 5px;
  
    
  }
  
  .sidebar .dash .sidebar-tag a p {
    font-size: 20px;
    font-weight: bold;
  }
} */

/* topic */

.topic {
  margin: 2vh 0px;
  /* margin-left: 10vw; */
  padding: 0px 10vw;
  width: 100vw;
  min-height: 40vh;  
  display: flex;
  background-color: #27005D;
  justify-content: space-between;
  align-items: center;
}
.topic-img{
  width: 30vw;
}
.topic-side-bar{
  width: 80vw;
  margin: 16px 9vw;
  border: black solid 1px;
  display: block;
  box-shadow: 6px 3px 6px rgba(148, 0, 250, 2.16);
}

.topic .head {
  color: #E4F1FF;
  font-size: 50px;
  font-weight: 500;
  
}
.discrption {
  font-size: 20px;
  font-weight: 200;
  color: #E4F1FF;

}

.topic-child {
  margin: 20px;
}

.sub-topics {
  margin: 0vh 10vw 6vh 10vw;
  padding: 2px;
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 5px;
  background-color:#AED2FF;
}

.sub-name {
  font-size: 20px;
  font-weight: bold;
  margin: 6vh 10vw 1vh 10vw;
  padding: 2px;
  
}

.sub-topic {
  margin: 2px 0px;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

.sub-topic .details{
  width: 75vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.details p{
  font-size: 17px;
  font-weight: bold;
}

.sub-topic .topics{
  width: 80vw ;
  padding: 0px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sub-topic  a{
  color: black;
  border: 0.5px solid black;
  text-decoration: none;
  display: block;
}

.sidebar {
  width: 14vw;
}
.sidebar-child{
  width: 14vw;
}
.change{
  display: none;
}
.dash {
    
  padding: 1px 9px;
  border-bottom: 1px solid black;
  /* background-color: #AED2FF; */

}

.sidebar-tag {
  margin-left: 10px;
}

.log-time {
  padding: 0px 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.video-change {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.videoplay {
  
  box-shadow: 6px 3px 6px rgba(148, 0, 250, 2.16);
  background-color: rgb(148 0 225);
  border-radius: 10px;
  padding: 2px 25px;
  margin: 2vh 5vw;
}

.videoplay p {
  margin: auto;
  color: white;
  font-weight: bold;
}
/* sign up */

.form-control-me input {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .form-control-me input {
    transition: none;
  }
}

.form-control::-ms-expand input {
  background-color: transparent;
  border: 0;
}

.form-control:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #495057;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-control::-webkit-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::-moz-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}

input[type="date"].form-control,
input[type="time"].form-control,
input[type="datetime-local"].form-control,
input[type="month"].form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


/* courses */

.courses{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2vh 2vw;
  
}
.heading-courses p{
  font-size: 30px;
  font-weight: 600;
  margin: 1vh 0vw 2vh 3vw ;
}

@media only screen and (max-width:800px){
  .topic{
    display: flex;
    flex-direction: column-reverse;
    padding: 1vw 10px;
  }
  .topic-img{
    margin: 5px;
    width: 80vw;
  }
  .topic .head {
    font-size: 32px;
  }
  .learner {
    flex-direction: column-reverse;
  }
  .learn-main .side-bar {
  width: 80vw;
  margin: 0 10vw ;
  }

  .learn-sidebar-show{
    display: none;
  }
  .side-bar-child{
    justify-content: space-between;
    
  }
  .side-bar-child .child1{
    margin: 0px 17px;
  }
  .side-bar-child .child2{
    margin: 0px;
    width: 60vw;
  }

  .video {
    width: 100vw;
    
  }
  .video iframe {
    width: 95vw;

  }
}