{% extends 'main.html' %}
{% load static %}
{% block content %}
  <div class="home">
    {% comment %} <div class="home-smalldetail">
      <div class="home-image">
        <img src="static/images/programming.png" alt="" />
        <!-- <img src="/images/IMG-20230822-WA0014.jpg" alt=""> -->
      </div>
      <div class="home-text">
        <p>“Measuring programming progress by lines of code is like measuring aircraft building progress by weight.” - Bill Gates</p>
      </div>
    </div> {% endcomment %}
    <div class="home-page-first">

      <div class="image-quote">
        <img src="static/images/student-holding-laptop.jpg" alt="" />
      </div>
      <div class="text-quote">
        <p>Programming isn't about what you know</p>
        <p>it's about what you can figure out</p>
      </div>
    </div>

    <div class="d-flex flex-column home">
      <div class="home-heading">
        <p class="m-10">Let's start learning, {{ request.user }}</p>
      </div>
      {% if courses %}
        <div class="ongoing1">
          <h2>Your on going courses</h2>
          <div class="d-flex flex-row ongoing rounded-0">
            {% for ongoing in courses %}
              <a href="{% url 'topic' ongoing.name %}" class="tex-dec-none">
                <div class="card">
                  <div class="card-image">
                    <img src="{{ ongoing.thumbnail.url }}" alt="" />
                  </div>
                  <div class="topic-details">
                    <div class="heading">
                      <p>{{ ongoing.name }}</p>
                    </div>
                    <div class="discrption">
                      <p>{{ ongoing.description|truncatechars:65 }}</p>
                    </div>
                  </div>
                </div>
              </a>
            {% endfor %}
          </div>
        </div>
      {% endif %}
      <div class="aval">
        <div class="fs-2 fw-bold">
          <p class="fs-3">Avilable courses</p>
        </div>
        <div class="d-flex flex-row ongoing">
          {% for course in allCourses %}
            <a href="{% url 'topic' course.name %}" class="tex-dec-none">
              <div class="card">
                <div class="card-image">
                  <img src="{{ course.thumbnail.url }}" alt="" />
                </div>
                <div class="topic-details">
                  <div class="heading">
                    <p>{{ course.name }}</p>
                  </div>
                  <div class="discrption">
                    <p>{{ course.description|truncatechars:65 }}</p>
                  </div>
                </div>
              </div>
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
