{% extends 'main.html' %}

{% block content %}
  <style>
    body {
      /* background-color:#E4F1FF ; */
      height: 100vh;
      background-color: #9400ff;
    }
  </style>

  <div class="main-content">
    <div class="main-words">
      <div class="main-heading">
        <p>Learn Programming with Our Educational Videos</p>
      </div>
      <div class="main-paragraph">
        <p>Welcome to our website! We offer educational videos that are designed to help students learn programming. Our videos are organized in a logical sequence, making it easy for you to find the information you need. We value your time and want you to spend it on our website learning from our videos. Sign up today and start learning!</p>
      </div>
    </div>
    <div class="main-img">
      <img src="static/images/programming-boy.png" alt="" />
    </div>
  </div>
  <div class="main-content our-mission">
    <div class="main-img">
      <img src="static/images/mission.png" />
    </div>
    <div class="text">
      <div class="main-heading">
        <p>Our Mission!</p>
      </div>
      <div class="main-paragraph">
        <p>Our mission is to provide high-quality educational videos that help students learn programming in a fun and engaging way. We aim to make learning programming accessible to everyone, regardless of their background or experience. Our videos are designed to be easy to follow and understand, making it possible for anyone to learn programming.</p>
      </div>
    </div>
  </div>

  <div class="main-content">
    <div>
      <div class="main-heading">
        <p>Our Vision!</p>
      </div>
      <div class="main-paragraph">
        <p>Our vision is to create a world where everyone has access to quality education in programming. We believe that education is the key to unlocking human potential and creating a better future for all. By providing educational videos that are accessible and engaging, we hope to inspire a love of learning in people of all ages and backgrounds.</p>
      </div>
    </div>
    <div class="main-img">
      <img src="static/images/vission.png" style="width: 40vw;" />
    </div>
  </div>

  <div class="what-we-offer">
    <div class="main-heading">
      <p>What we offer ?</p>
    </div>
    <div class="main-paragraph points">
      <ul>
        <li>
          <div class="about-us-image-course">
            <img src="static/images/ml.png" alt="" />
            <p>Machine Learning</p>
          </div>
        </li>
        <li>
          <div class = "about-us-image-course">
            <img src="static/images/mern-home-logo.png" alt="" />
            <p>MERN STACK</p>
          </div>
        </li>
        <li>
          <div>
            <img src="static/images/ml.png" alt="" />
            <p>Deep Learning</p>
          </div>
        </li>
        <!-- <li><p>Programming Language(C)</p></li> -->
        <li>
          <div>
            <img src="static/images/ml.png" alt="" />
            <p>Game Development</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
